.c-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--cream);
  border-bottom: 1rem solid var(--dark-blue);
  border-top: 1rem solid var(--dark-blue);
  padding: 1rem;
}

@media (--viewport-md) {
  .c-header {
    border-top-width: 1.5rem;
    border-bottom-width: 1.5rem;
    padding-bottom: 0.5rem;

  }
}

.c-header__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.c-header__logo-img {
  color: var(--dark-blue);
  width: 7rem;
  margin-bottom: -0.5rem;
  transition:margin-bottom 300ms ease-in-out;
}

@media (--viewport-md) {
  .c-header__logo-img {
    margin-bottom: -0.5rem;
  }
}

.c-header__logo-wordmark {
  color: var(--dark-blue);
  font-family: var(--font-family);
  font-size: 2.5rem;
  font-weight: normal;
  transition:  transform 300ms ease-in-out;
}

@media (--viewport-md) {
  .c-header__logo-wordmark {
    line-height: 2rem;
    transform: translateX(0.9rem);
  }
}

.c-header__links {
}
