.c-header-links {
  display: flex;
  flex-direction: column;
  margin: 0;
  flex: 1;
  padding: 0;
  list-style: none;
}

@media (--viewport-md) {
  .c-header-links {
    flex-direction: row;
  }
}

.c-header-links__item {
  margin: 0;
  padding: 0;
  text-align: center;
}
